.exparts-img{
/* text-align:center; */
}
.exparts-bg-p{
    font-family: Proxima Nova;
    font-size: 20px;
    line-height: 182.7%;
    /* or 37px */
    text-align: center;
}
.exparts-p{
    font-family: Proxima Nova;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}
.expart-btn{
    width: 160px;
    height: 56px;
    background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
    box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
    border-radius: 100px;
    border:0px;
    color:white;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}
.descover-p-bg{
    font-family: Proxima Nova;
    font-size: 40px;
    line-height: 158.34%;
    /* or 63px */
    /* 1 */
    color:  #FFC000 ;
}